
@font-face {
    font-family: 'mobiletitle';
    src: url('/font/ONEMobileTitle.ttf')
}

@font-face {
    font-family: 'mobileregular';
    src: url('/font/ONE Mobile Regular/ONE Mobile Regular.ttf')
}